#text {
  width: 490px;
  background-color: yellow;
  height: 200px;
  overflow: auto;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border: 6px dashed orange;
}

.important {
  font-weight: bold;
  text-decoration: underline;
}

.picture {
  width: 500px;
  height: 310px;
  border: 6px inset orange;
}

#main {
  margin: auto;
  width: 510px;
  background-color: lightyellow;
  border: 3px solid brown;
  padding: 10px;
}
